/* Main content */

h1, h2, h3 {
    font-family: 'Nixie One', cursive;
}

h1 {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

    border-bottom: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }
}

h2, h3 {
    margin-bottom: 0.5em;

}

h3 {
    color: $secondary-colour;
}

.content {}
