/* Main content */

h1, h2, h3, h4 {
    font-family: 'Nixie One', cursive;
}

h1, h2 {
    padding-bottom: 0.5em;
    margin: {
        top: 0.5em;
        bottom: 0.5em;
    }

    border-bottom: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }
}

h3, h4 {
    margin-bottom: 0.5em;

}

h4 {
    color: $secondary-colour;
}

#content {
    ul,ol {
        padding-left: 1em;
        margin-bottom: 1em;
    }
}

.subtitle {
    margin-bottom: 1em;
    color: $secondary-colour;
    font-style: italic;
    font-size: 1.1em;
}

.site-title {
    padding: {
        left: 1em;
        top: 1em;
        bottom: 1em;
    }
}
