/* Main content */

h1, h2, h3, h4 {
    font-family: 'Nixie One', cursive;
}

h1 {
    padding: {
        left: 0.5em;
        top: 1em;
        bottom: 1em;
    }

    a {
        color: $primary-colour;
    }
}

h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

h1, h2 {
    border-bottom: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }
}

h2, h3, h4 {
    margin-bottom: 0.5em;
}

h3, h4 {
    padding-top: 0.5em;
}

h4 {
    color: $secondary-colour;
}

article {
    padding-left: 1em;

    border-bottom: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }

    ul,ol {
        padding-left: 1em;
        margin-bottom: 1em;
    }

    img {
        background-color: $background-highlight-colour;
        color: $secondary-colour;
        padding: 0.5em;
        margin-bottom: 0.5em;
    }
}

.article-nav {
    .left, .right {
        display: inline-block;
    }

    .right {
        float: right;
    }
}

.comments {
    border-top: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }
    margin-top: 1em;
    padding-top: 1em;
}

.subtitle {
    margin-bottom: 1em;
    color: $secondary-colour;
    font-style: italic;
    font-size: 1.1em;
}
