/* Footer */

footer {
    padding: 1em 0;

    border-bottom: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }

    color: $secondary-colour;

    ul {
        font-size: 0.8em;
    }
}
