/* Navigation */

nav {
    li {
        display: inline-block;

        .active {
            font-weight: bold;
        }
    }

    li + li:before {
        content: " | ";
        padding: 0 1em;
    }
}
