/* Navigation */

nav {
    padding: 1em 0;

    border-bottom: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }

    li {
        display: inline-block;
        border-right: 1px solid $background-highlight-colour;
        padding: 0 1em;
    }

    li:last-of-type {
        border: 0;
    }

    /* Fix the nav menu in small screens. */
    @media screen and (max-width: 458px) {
        li {
            display: block;
        }

        li {
            border: 0;
        }
    }
}
