/* Navigation */

nav {
    color: $background-highlight-colour;

    li {
        display: inline-block;

        .active {
            font-weight: bold;
        }
    }

    li + li:before {
        content: " | ";
        padding: 0 1em;
    }

    border-bottom: {
        width: 1px;
        color: $background-highlight-colour;
        style: solid;
    }
}
