/* Structure */

.container {
    width: 45em;
    background-color: $background-colour;

    margin: {
        left: auto;
        right: auto;
    }

    padding: {
        top: 1em;
        bottom: 1em
    }
}
