/* Variables */

@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

$background-colour: #fdf6e3;
$background-highlight-colour: #eee8d5;
$secondary-colour: #93a1a1;
$primary-colour: #657b83;
$highlight-colour: #268bd2;
