/* Variables */

@import url(https://fonts.googleapis.com/css?family=Nixie+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Solarized Dark Custom - lighter text */
$background-colour: #394049;
$background-highlight-colour: #464c56;
$primary-colour: #DCE2E2;
$secondary-colour: #968B83;
$highlight-colour: #46ace3;
