<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}twodaemon.co.uk | {{ title }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block google_analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-42470605-1']);
            _gaq.push(['_setDomainName', 'twodaemon.co.uk']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endblock %}
    </head>
    <body>
    <h1 class="site-title"><a href="{{ url_for('home') }}">twodaemon.co.uk</a></h1>
        <nav class="container">
            {% block navigation %}
            {% from '_macros.html' import nav %}
            <ul>
                <li>{{ nav('Home', 'home') }}</li>
                <li>{{ nav('About', 'about') }}</li>
                <li>{{ nav('Articles', 'article_list') }}</li>
            </ul>
            {% endblock %}
        </nav>
        <section class="container">
            <div id="title">
                {% block page_title %}
                <h2>{{ title }}</h2>
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        <footer id="footer" class="container">
            {% block footer %}
            <ul>
                <li>Copyright Tom Kitchin</li>
                <li>Twitter: <a href="http://twitter.com/TwoDaemon">@TwoDaemon</a></li>
                <li>Email: tkitchin AT gmail DOT com</li>
            </ul>
            {% endblock %}
        </footer>
        {% block js_bottom %}
        {% endblock %}
    </body>
</html>
