<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}{{ title }} | twodaemon.co.uk{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block google_analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-42470605-1']);
            _gaq.push(['_setDomainName', 'twodaemon.co.uk']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endblock %}
    </head>
    <body>
    <h1><a href="{{ url_for('home') }}">twodaemon.co.uk</a></h1>
        {% block navigation %}
            <nav>
                {% from '_macros.html' import nav %}
                <ul>
                    <li>{{ nav('Introduction', 'home', 'introduction') }}</li>
                    <li>{{ nav('Articles', 'home', 'articles') }}</li>
                    <li>{{ nav('Speaking', 'home', 'speaking') }}</li>
                    <li>{{ nav('Contact', 'home', 'contact') }}</li>
                    {# <li>{{ nav('Game A Week', 'game_a_week') }}</li> #}
                </ul>
            </nav>
        {% endblock %}
            <article>
                {% block page_title %}
                <h2>{{ title }}</h2>
                {% endblock %}

                {% block content %}
                {% endblock %}
            </article>
        {% block footer %}
        <footer>
            <ul>
                <li>Copyright Tom Kitchin</li>
                <li>Email: <a href="mailto:tkitchin@gmail.com">tkitchin@gmail.com</a></li>
                <li>Twitter: <a href="http://twitter.com/TwoDaemon">@TwoDaemon</a></li>
            </ul>
        </footer>
        {% endblock %}
        {% block js_bottom %}
            {% from '_macros.html' import js_import %}
            {{ js_import('smooth-scroll') }}
        {% endblock %}
    </body>
</html>
