{% extends "_base.html" %}

{% block content %}
    <h3>About this site</h3>
    <p>This is my personal website.</p>
    <p>In theory that means I could put all kinds of arbitrary crap on it. In reality, it's pretty 
    likely to be mostly game and game design discussion and analysis, since those're topics about which 
    I have the most to say.</p>
    <p>The most to say in some kind of authoritative manner, anyway. I actually like talking about nearly 
    anything, but give me a soapbox and I guess I talk about games.</p>
    <p>Welcome to my soapbox.</p>

    <h3>Who am I?</h3>
    <p>Actually, a better question might be <strong>"Why should you listen to anything I say?"</strong></p>
    <p>Because I think before I speak and I try to understand and explain my chosen topics clearly, 
    and I like to think I do a pretty good job.</p>
    <p>Failing that, I suggest you make your own decisions.</p>
    <p>In a personal sense, I'm a programmer working for a mid-sized web development company in Sheffield, England.</p>
    <p>I like to play, think about, talk about and (occasionally) write about games and game design. That's both board 
    and video games, incidentally.</p>
    <p>I can be reached most easily on Twitter at <strong><a href="http://twitter.com/TwoDaemon">@TwoDaemon</a></strong> and via my email at <strong>tkitchin AT gmail DOT com</strong>.</p>
{% endblock %}
