{% extends "_base.html" %}

{% block content %}
    {% if article_subtitle %}<div class="subtitle">{{ article_subtitle }}</div>{% endif %}
    {{ page_content }}
    <div class="article-nav clearfix">
        {% if prev_page_url %}
        <div class="left"><a href="{{ prev_page_url }}">&lt; previous page</a></div>
        {% endif %}
        {% if next_page_url %}
        <div class="right"><a href="{{ next_page_url }}">next page &gt;</a></div>
        {% endif %}
    </div>
    <div class="comments" id="disqus_thread"></div>
{% endblock %}

{% block js %}
{{ super() }}
{% from '_macros.html' import js_import %}
<script type="text/javascript">
    /* Disqus local variables */
    var disqus_identifier = 'article/{{ article_name }}';
    var disqus_title = '{{ article_title }}';
    var disqus_url = '{{ article_absolute_url }}';
</script>
{{ js_import('disqus') }}
{% endblock %}
