{% extends "_base.html" %}

{% block content %}
    <p>Articles on a selection of gaming-related topics, generally about design elements and such.</p>
    <p>Style tends towards a sort of semi-informal topic analysis, although there will 
    probably be a few less focused entries eventually in lieu of having a blog to put them on.</p>
    <ul class="article-list">
    {% for article in article_list %}
    <li><a href="{{ article.url }}">{{ article.title }}</a>
        {%- if article.subtitle %} - {{ article.subtitle }}{% endif %}</li>
    {% endfor %}
    </ul>
{% endblock %}
