{% extends "_base.html" %}

{% block content %}
    {% if article.subtitle %}<div class="subtitle">{{ article.subtitle }}</div>{% endif %}
    {{ article.content }}
    {# <div class="comments" id="disqus_thread"></div> #}
{% endblock %}

{#
{% block js_bottom %}
{{ super() }}
{% from '_macros.html' import js_import %}
<script type="text/javascript">
    /* Disqus local variables */
    var disqus_identifier = 'article/{{ article.name }}';
    var disqus_title = '{{ article.title }}';
    var disqus_url = '{{ article.absolute_url }}';
</script>
{{ js_import('disqus') }}
{% endblock %}
#}
