{% extends "_base.html" %}

{% block content %}
    <div class="post-meta">
        <ul>
            <li>Created: {{ datetime_created }}</li>
            <li>Updated: {{ datetime_updated }}</li>
        </ul>
    </div>
    {{ post_content }}
    <div class="comments" id="disqus_thread"></div>
{% endblock %}

{% block js_bottom %}
{{ super() }}
{% from '_macros.html' import js_import %}
<script type="text/javascript">
    /* Disqus local variables */
    var disqus_identifier = 'blog/{{ post_name }}';
    var disqus_title = '{{ post_title }}';
    var disqus_url = '{{ absolute_url }}';
</script>
{{ js_import('disqus') }}
{% endblock %}
