{% extends "_base.html" %}

{% block content %}
    <h3>Profile</h3>
    <p>I'm a Software Engineer with six years' industry experience in a variety of fields, both solo and in teams. I have experience at the project planning and design stage and in directly client facing team roles as well as development roles. After a number of years gaining experience in web agencies spread across the public, commercial and charity sectors, I've started working as a freelance developer in order to have more control over my work and to find more ways to do work which impacts what I use and the world around me.</p>
    <ul>
        <li>Thomas Kitchin</li>
        <li>Tel: 07963 569222</li>
        <li>Email: <a href="mailto:tom@tkitchin.co.uk">tom@tkitchin.co.uk</a></li>
        <li>Normal contact hours: 9am - 5pm weekdays</li>
        <li>Based in Worthing and the Brighton area</li>
    </ul>
    <h3>Key skills</h3>
    <ul>
        <li>Programming languages - Elixir, Ruby, Python, C#</li>
        <li>Web tools and services - SQL, Postgres, AWS, Apache, nginx</li>
        <li>Web systems design and development</li>
        <li>Agile, Scrum, Kanban methodologies</li>
        <li>Public speaking</li>
    </ul>
    <h3>Previous projects include</h3>
    <ul>
        <li>Developer on <a href="https://www.elefriends.org.uk/">Elefriends</a>, the UK's largest peer support community, a social network built in cooperation with <a href="http://www.mind.org.uk/">Mind</a> to provide a community space for people struggling with mental health.
        <li><a href="http://www.healthyisland.me/">Healthy Island</a>, an educational game on iOS, Android and Windows, designed to teach good healthy life habits for children. Included developing a backend stat tracking server in Elixir using the Phoenix framework. Built for the <a href="http://www.westwakefieldhealthandwellbeing.nhs.uk/home/">West Wakefield Health group</a>.</li>
        <li><a href="http://www.missguided.co.uk">MissGuided</a>, a Magento-based ecommerce site. Included configuring and maintaining a Tungsten database cluster solution, allowing it to handle over 15,000 concurrent users at a rate of 1.1 purchases per second. This allowed for Cyber Weekend sales of over £5,000,000.</li>
        <li>Developed the first live production Drupal 8 website in the world, <a href="http://www.sensiolabs.co.uk">www.sensiolabs.co.uk</a>.</li>
        <li>Developed analytics and management software in C# for a worldwide financial kiosk network (not publically available).<li>
    </ul>
    <h3>Employment history</h3>
    <ul>
        <li>Self employed (October 2016 - present)</li>
        <li><em>Senior Software Engineer at Yoomee Digital Ltd.</em>, Sheffield (June 2015 - October 2016)<br />
        - Yoomee is a digital agency that helps charities and nonprofits build new online services.</li>
        <li><em>Senior Software Engineer at Inviqa UK Ltd.</em>, Sheffield (January 2013 - June 2015)<br />
        - Inviqa UK Ltd. is a web agency which provides bespoke web solutions, particularly ecommerce solutions, using all major PHP frameworks.</li>
        <li><em>Software Developer at GWD Media Ltd.</em>, Sheffield (March 2012 - December 2012)<br />
        - GWD Media provides interactive kiosk remote monitoring, reporting and analysis services via the in-house developed cloud-based Genkiosk platform.</li>
        <li><em>Software Developer at Certus Technology Associates Ltd.</em>, Sheffield (September 2010 – March 2012)<br />
        - CTA is a developer of specialised Java-based software systems for the health sector.</li>
    </ul>
    <h3>Academic credentials</h3>
    <p>Graduated in 2010 from the University of Sheffield with a BSc in Artificial Intelligence and Computer Science.</p>
{% endblock %}
