{% extends "_base.html" %}

{% block content %}
    <p>Hi there, and welcome to my personal website.</p>
    <p>Feel free to have a browse of what little I have here so far.  I'll be 
    writing about game discussion and analysis, if you're wondering.</p>
    <p>You can find a more information about me and the site in the 
    <a href="{{ url_for('about') }}">about</a> page, you can read some of my
    <a href="{{ url_for('blog') }}">blog posts</a> or you can go to the list 
    of full-length <a href="{{ url_for('article_list') }}">articles</a> as 
    takes your interest.</p>
{% endblock %}
