{% extends "_base.html" %}

{% block content %}
    <div class="post">
        <div class="post-meta">
            2013-07-13 21:55
        </div>
        <h3 class="post-title">Starting at the end</h3>
        <p>Hi there! Welcome to my burgeoning personal website. This is a first blog post of sorts, 
        assuming I keep writing these.</p>
        <p>Feel free to have a browse of what little I have here so far. It's game discussion and 
        analysis, if you're wondering. You can find a little more information in the
        <a href="{{ url_for('about') }}">about</a> page if you're interested.</p>
        <p>Otherwise, hopefully you're here for my first article, 
        <a href="{{ url_for('article_single', article_name='a_good_death') }}">A Good Death</a>, which is 
        an analysis of the death of the player in challenge-based games and why it frustrates or 
        doesn't.</p>
    </div>
{% endblock %}
